/* Pas de afbeelding aan */
.navbar-image {
    max-height: 100%;
    max-width: 100px; /* Stel een maximale breedte in (pas deze waarde naar wens aan) */
    margin-left: auto; /* Plaats de afbeelding helemaal rechts */
    display: block; /* Zorg ervoor dat de afbeelding een blokelement is, zodat deze niet naast andere elementen wordt weergegeven */
}

